<h1>Form Pengisian Kunjungan Napi</h1>

<form method="post" action="/kunjungan">
    <label>Masukkan No ktp : </label>
    <input type="text" name="no_ktp" required/>
    <br>
    <label>Masukkan nama : </label>
    <input type="text" name="namaPengunjung" required/>
    <br>
    <label>Alamat Pengunjung : </label>
    <input type="text" name="alamat" required/>
    <br>
    <label>No_tahanan</label>
    <input type="number" name="NoTahanan" required/>
    <br>
    <label >waktu kunjungan</label>
    <input type="date" name="waktu" required/>
    <br>
    <input type="submit"/>
</form>





