<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/custom.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css')}}">
<img src="{{ url_for('static',filename='img/atas.png')}}"/>
<style type="text/css">
    h1{
        margin-left: 14.5cm;
    }
    .isi{
        display: grid;
		text-align: center;
		vertical-align: middle;
		border:2px solid rgba(0,0,0,.2);
        margin-left: 13cm;
        width: 8cm;
    }
</style>
<h1>HAPUS TAHANAN</h1>
<form method="post" action="/HapusTahanan">
    <div class="isi">
    <label>Masukkan Nomor Tahanan</label>
    <input type="text" name="id_napi">
    <input type="submit">
</div>
</form>