<h1>KONFIRMASI TAHANAN YANG MAU DIBEBASKAN</h1>

<table>
    <thead>
        <tr>
            <th>No.Tahanan</th>
            <th>Nama</th>
            <th>Durasi Penahanan</th>
            <th>Kasus</th>
            <th>No.Ruangan</th>
            <th>Lapas</th>
        </tr>
    </thead>
    <tbody>
        {% for row in identitas %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<form action="/KerjaHapus/{{idnapi}}">
    <input type="submit">
</form>
