<h1>Form Pengisian Kunjungan Napi</h1>

<form method="post" action="/kunjungan">
    <table>
        <tr>
            <td><label>Masukkan No ktp : </label></td>
            <td><input type="text" name="no_ktp" required/></td>
        </tr>
        <tr>
            <td><label>Masukkan nama : </label></td>
            <td><input type="text" name="namaPengunjung" required/></td>
        </tr>
        <tr>
            <td><label>Alamat Pengunjung : </label></td>
            <td><input type="text" name="alamat" required/></td>
        </tr>
        <tr>
            <td><label>No tahanan : </label></td>
            <td><input type="number" name="NoTahanan" required/></td>
        </tr>
        <tr>
            <td><label>Waktu kunjungan : </label></td>
            <td><input type="date" name="waktu" required/></td>
        </tr>
    </table>
    <input type="submit"/>
</form>
