<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css')}}">
<img src="{{ url_for('static',filename='img/atas.png')}}"/>
<style type="text/css">
    h1 {
        text-align: center;
    }
</style>
<h1>LOGIN</h1>
<form method="POST" action="/">
    <table align="center">
        <tr>
            <td><label>Usernama : </label></td>
            <td><input type="text" name="username" required/></td>
        </tr>
        <tr>
            <td><label>Password : </label></td>
            <td><input type="password" name="password" required/></td>
        </tr>
        <tr>
            <td><input type="submit"/></td>
        </tr>
    </table>
    <a href="/daftar_pengunjung">Daftar Pengunjung</a>
    <br>
    <a href="/diagram">Lihat Diagram</a>
    <br>    
</form>
