<h1>LOGIN</h1>

<form method="POST" action="/">
    <table>
        <tr>
            <td><label>Usernama : </label></td>
            <td><input type="text" name="username" required/></td>
        </tr>
        <tr>
            <td><label>Password : </label></td>
            <td><input type="password" name="password" required/></td>
        </tr>
    </table>
    <input type="submit"/>
    <br>
    <a href="/daftar_pengunjung">Daftar Pengunjung</a>
    <br>
    <a href="/diagram">Lihat Diagram</a>
</form>
