<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/custom.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css')}}">
<img src="{{ url_for('static',filename='img/atas.png')}}"/>
<style type="text/css">
    h1{
        margin-left: 15cm;
    }
    .isi{
        display: grid;
		text-align: center;
		vertical-align: middle;
		border:2px solid rgba(0,0,0,.2);
        margin-left: 12cm;
        width: 11cm;
    }
</style>
<h1>Form Tahanan Baru</h1>

<form method="post" action="/napi">
    <div class="isi">
    <table>
        <tr>
            <td><label>Masukkan No. Tahanan  </label></td>
            <td><input type="text" name="no_tahanan" required/></td>
        </tr>
        <tr>
            <td><label>Masukkan nama </label></td>
            <td><input type="text" name="nama_tahanan" required/></td>
        </tr>
        <tr>
            <td><label>Masa hukuman  </label></td>
            <td><input type="text" name="lama_penahanan" required/></td>
        </tr>
        <tr>           
            <td><label>Masukkan kejahatan yang dilakukan </label></td>
            <td><input type="text" name="kasus" required/></td>
        </tr>
        <tr>
            <td><label>Mulai masa hukuman </label></td>
            <td><input type="text" name="tahun_masuk" required/></td>
        </tr>
        <tr>
            <td><label>Akhir masa hukuman  </label></td>
            <td><input type="text" name="tahun_keluar" required/></td>
        </tr>
        <tr>
            <td><label>Ruangan Tahanan  </label></td>
            <td><input type="text" name="no_ruangan" required/></td>
        </tr>
        </table>
    <input type="submit"/>
</div>
</form>
