<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/custom.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css')}}">
<img src="{{ url_for('static',filename='img/atas.png')}}"/>
<style type="text/css">
    h1{
        display: grid;
		text-align: center;
		vertical-align: middle;
		border:2px solid rgba(0,0,0,.2);
        margin-left: 13cm;
        width: 7cm;
    }
    h2{
        display: grid;
		text-align: center;
		vertical-align: middle;
		border:2px solid rgba(0,0,0,.2);
        margin-left: 13cm;
        width: 7cm;
    }
</style>
<h1>PILIH OPSI</h1>
<h2>
<a href="/napi">Input Tahanan</a>
<br>
<a href="/UsulanRemisi">Usulan Remisi</a>
<br>
<br>
<br>
<a href="/">LOGOUT</a>
</h2>