<h1>Form Pegawai Baru</h1>

<form method="post" action="/pegawai">
    <table>
        <tr>
            <td><label>Masukkan ID : </label></td>
            <td><input type="text" name="ID_pegawai" required/></td>
        </tr>
        <tr>
            <td><label>Masukkan nama : </label></td>
            <td><input type="text" name="nama_pegawai" required/></td>
        </tr>
        <tr>
            <td><label>Cabang Lapas : </label></td>
            <td><input type="text" name="nama_lapas" required/></td>
        </tr>
    </table>
    <input type="submit"/>
</form>
