<h1>Form Usulan Remisi</h1>

<form method="post" action="/UsulanRemisi">
    <table>
        <tr>
            <td><label>Nomor tahanan : </label></td>
            <td><input type="text" name="no_tahanan" required/></td>
        </tr>
        <tr>
            <td><label>Alasan: </label></td>
            <td><input type="text" name="alasan" required/></td>
        </tr>
        <tr>
            <td><label>Pengurangan Masa Tahanan: </label></td>
            <td><input type="text" name="pengurangan" required/></td>
        </tr>
        <tr>
            <td><label>Tahun Masuk: </label></td>
            <td><input type="text" name="tmasuk" required/></td>
        </tr>
        <tr>
            <td><label>Tahun Keluar: </label></td>
            <td><input type="text" name="tkeluar" required/></td>
        </tr>
    </table>
    <input type="submit"/>
</form>
